In [1]:
#Import packages
import pandas as pd

# Read the data into a DataFrame named ri ('ri' for Rhode Island)
ri = pd.read_csv('G:/DataCamp/Data Scientist with Python Track/Analysing Police Activity with Pandas/ri_statewide.csv')

C:\Users\sohan\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (6,17,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
ri.head()

,raw_row_number,date,time,zone,subject_race,subject_sex,department_id,type,arrest_made,citation_issued,...,reason_for_stop,vehicle_make,vehicle_model,raw_BasisForStop,raw_OperatorRace,raw_OperatorSex,raw_ResultOfStop,raw_SearchResultOne,raw_SearchResultTwo,raw_SearchResultThree
0,1,22-11-2005,11:15:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
1,2,01-10-2005,12:20:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
2,3,01-10-2005,12:30:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN
3,4,01-10-2005,12:50:00,X3,white,male,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,M,M,NaN,NaN,NaN
4,5,01-10-2005,13:10:00,X3,white,female,200,vehicular,False,True,...,Speeding,NaN,NaN,SP,W,F,M,NaN,NaN,NaN

In [3]:
# Count the number of missing values in each column
ri.isnull().sum()

raw_row_number                0
date                         10
time                         10
zone                         10
subject_race              29073
subject_sex               29097
department_id                10
type                          0
arrest_made               29073
citation_issued           29073
warning_issued            29073
outcome                   35841
contraband_found         491919
contraband_drugs         493693
contraband_weapons       497886
contraband_alcohol       508464
contraband_other         491919
frisk_performed              10
search_conducted              0
search_basis             491919
reason_for_search        491919
reason_for_stop           29073
vehicle_make             191564
vehicle_model            279593
raw_BasisForStop          29073
raw_OperatorRace          29073
raw_OperatorSex           29073
raw_ResultOfStop          29073
raw_SearchResultOne      491919
raw_SearchResultTwo      508862
raw_SearchResultThree    509513
dtype: int64

In [4]:
# Drop all rows that are missing 'driver_gender'
ri.dropna(subset=['subject_sex'], inplace=True)

# Count the number of missing values in each column (again)
print(ri.isnull().sum())

# Examine the shape of the DataFrame
print(ri.shape)

raw_row_number                0
date                          0
time                          0
zone                          0
subject_race                  0
subject_sex                   0
department_id                 0
type                          0
arrest_made                   0
citation_issued               0
warning_issued                0
outcome                    6763
contraband_found         462822
contraband_drugs         464596
contraband_weapons       468789
contraband_alcohol       479367
contraband_other         462822
frisk_performed               0
search_conducted              0
search_basis             462822
reason_for_search        462822
reason_for_stop               0
vehicle_make             162525
vehicle_model            250553
raw_BasisForStop              0
raw_OperatorRace              0
raw_OperatorSex               0
raw_ResultOfStop              0
raw_SearchResultOne      462822
raw_SearchResultTwo      479765
raw_SearchResultThree    480416
dtype: int64
(480584, 31)

In [5]:
# Examine the head of the 'is_arrested' column
print(ri.arrest_made.head())

0    False
1    False
2    False
3    False
4    False
Name: arrest_made, dtype: object

In [6]:
# Check the datatypes of the dataframe columns
ri.dtypes

raw_row_number            int64
date                     object
time                     object
zone                     object
subject_race             object
subject_sex              object
department_id            object
type                     object
arrest_made              object
citation_issued          object
warning_issued           object
outcome                  object
contraband_found         object
contraband_drugs         object
contraband_weapons       object
contraband_alcohol       object
contraband_other         object
frisk_performed          object
search_conducted           bool
search_basis             object
reason_for_search        object
reason_for_stop          object
vehicle_make             object
vehicle_model            object
raw_BasisForStop         object
raw_OperatorRace         object
raw_OperatorSex          object
raw_ResultOfStop         object
raw_SearchResultOne      object
raw_SearchResultTwo      object
raw_SearchResultThree    object
dtype: object

In [7]:
# Change the data type of 'is_arrested' to 'bool'
ri['arrest_made'] = ri.arrest_made.astype('bool')

# Check the data type of 'is_arrested' 
ri.arrest_made.dtype

dtype('bool')

In [8]:
# Concatenate 'stop_date' and 'stop_time' (separated by a space)
combined = ri.date.str.cat(ri.time, sep = ' ')

# Convert 'combined' to datetime format
ri['datetime'] = pd.to_datetime(combined)

# Examine the data types of the DataFrame
ri.dtypes

raw_row_number                    int64
date                             object
time                             object
zone                             object
subject_race                     object
subject_sex                      object
department_id                    object
type                             object
arrest_made                        bool
citation_issued                  object
warning_issued                   object
outcome                          object
contraband_found                 object
contraband_drugs                 object
contraband_weapons               object
contraband_alcohol               object
contraband_other                 object
frisk_performed                  object
search_conducted                   bool
search_basis                     object
reason_for_search                object
reason_for_stop                  object
vehicle_make                     object
vehicle_model                    object
raw_BasisForStop                 object
raw_OperatorRace                 object
raw_OperatorSex                  object
raw_ResultOfStop                 object
raw_SearchResultOne              object
raw_SearchResultTwo              object
raw_SearchResultThree            object
datetime                 datetime64[ns]
dtype: object

In [9]:
# Set 'stop_datetime' as the index
ri.set_index('datetime', inplace=True)

# Examine the index
ri.index

DatetimeIndex(['2005-11-22 11:15:00', '2005-01-10 12:20:00',
               '2005-01-10 12:30:00', '2005-01-10 12:50:00',
               '2005-01-10 13:10:00', '2005-01-10 15:50:00',
               '2005-11-09 11:45:00', '2005-11-09 11:45:00',
               '2005-04-10 11:55:00', '2005-04-10 11:55:00',
               ...
               '2015-12-29 13:28:00', '2015-12-27 12:45:00',
               '2015-12-27 13:43:00', '2015-12-28 02:29:00',
               '2015-12-30 11:42:00', '2015-08-16 13:37:00',
               '2015-04-08 10:40:00', '2015-12-20 11:17:00',
               '2015-09-11 23:35:00', '2015-10-30 11:09:00'],
              dtype='datetime64[ns]', name='datetime', length=480584, freq=None)

In [10]:
# Express the counts as proportions
print(ri.outcome.value_counts(normalize=True))

citation    0.904092
warning     0.060867
arrest      0.035041
Name: outcome, dtype: float64

In [11]:
# Create a DataFrame of female and male drivers
female = ri[ri['subject_sex'] == 'female']

male = ri[ri['subject_sex'] == 'male']

In [13]:
# Compute the violations by female drivers (as proportions)
print(female.reason_for_stop.value_counts(normalize = True))

Speeding                            0.657308
Other Traffic Violation             0.136581
Equipment/Inspection Violation      0.107055
Registration Violation              0.043077
Seatbelt Violation                  0.027071
Call for Service                    0.018057
Special Detail/Directed Patrol      0.005071
Motorist Assist/Courtesy            0.002532
Violation of City/Town Ordinance    0.001647
APB                                 0.000831
Suspicious Person                   0.000564
Warrant                             0.000206
Name: reason_for_stop, dtype: float64

In [14]:
# Compute the violations by male drivers (as proportions)
print(male.reason_for_stop.value_counts(normalize = True))

Speeding                            0.522364
Other Traffic Violation             0.206948
Equipment/Inspection Violation      0.135102
Registration Violation              0.040581
Special Detail/Directed Patrol      0.037136
Seatbelt Violation                  0.036555
Call for Service                    0.014987
Violation of City/Town Ordinance    0.002347
Motorist Assist/Courtesy            0.001880
APB                                 0.001076
Suspicious Person                   0.000767
Warrant                             0.000258
Name: reason_for_stop, dtype: float64

In [15]:
# Calculate the search rate for both groups simultaneously
print(ri.groupby(['subject_sex']).search_conducted.mean())

subject_sex
female    0.018751
male      0.043792
Name: search_conducted, dtype: float64